# Data Science Tools and Ecosystem

Some of the most popular languages that Data Scientists use are:
* Python
* R
* Scala
* Julia
* Java
* C++
* Ruby

In this Jupyter notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* Libraries used in Data Science.
* Data Integration and Transformation open-source tools.
* Basic evaluation of arithmetic expressions.

Some of the commonly used libraries used by Data Scientists include:
#### For Python
* Scientific Computing Libraries
  1. Pandas
  2. Numpy
* Visualization Libraries
  1. Matplotlib
  2. Seaborn
* High-Level Machine Learning and Deep Learning
  1. Scikit-learn
  2. Keras
* Deep Learning
  1. TensorFlow
  2. Pytorch

#### Some of the most used open-source tools for Data Integration and Transformation in Data Science are:

| Data Science Tools |
|-------------------|
| Apache AirFlow |
| Kube Flow |
| Apache Kafka |
| Apache NiFi |
| Apache SparkSQL |
| NodeRED |

### Below are a few examples of evaluating arithmetic expressions in Python.
This is a simple arithmetic expression to multiply then add integers.

In [12]:
print((3*4)+5)

17

This will convert 200 minutes to hours by dividing by 60.

In [14]:
print(200/60)

3.3333333333333335

## Author
Salvador Ortega.